<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- if: additionalClasses == 'street admin__control-fields required' -->
<div class="form-group col-12 field" data-bind="css: additionalClasses">
    <label class="label require" html="element.label+'<span>*</span>'">
    </label>
        <!-- ko foreach: { data: elems, as: 'element' } -->

            <!-- ko if: element.visible() -->

                <!-- ko ifnot: (element.input_type == 'checkbox' || element.input_type == 'radio') -->
                    <!-- ko template: $parent.fieldTemplate --><!-- /ko -->
                <!-- /ko -->

                <!-- ko if: (element.input_type == 'checkbox' || element.input_type == 'radio') -->
                    <!-- ko template: element.elementTmpl --><!-- /ko -->
                <!-- /ko -->

            <!-- /ko -->

        <!-- /ko -->

        <!-- ko if: validateWholeGroup -->
        <!-- ko  foreach: { data: elems, as: 'element' } -->
            <!-- ko if: element.error() && element.visible() -->
                <label class="error" data-bind="attr: { for: uid }, text: element.error"></label>
            <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
    </div>
<!-- /ko -->
<!-- if: additionalClasses !== 'street admin__control-fields required' -->
    <fieldset class="field" data-bind="css: additionalClasses">
        <legend class="label">
            <span translate="element.label"></span>
        </legend>
        <div class="control">
            <!-- ko foreach: { data: elems, as: 'element' } -->

                <!-- ko if: element.visible() -->

                    <!-- ko ifnot: (element.input_type == 'checkbox' || element.input_type == 'radio') -->
                        <!-- ko template: $parent.fieldTemplate --><!-- /ko -->
                    <!-- /ko -->

                    <!-- ko if: (element.input_type == 'checkbox' || element.input_type == 'radio') -->
                        <!-- ko template: element.elementTmpl --><!-- /ko -->
                    <!-- /ko -->

                <!-- /ko -->

            <!-- /ko -->

            <!-- ko if: validateWholeGroup -->
            <!-- ko  foreach: { data: elems, as: 'element' } -->
                <!-- ko if: element.error() && element.visible() -->
                    <label class="error" data-bind="attr: { for: uid }, text: element.error"></label>
                <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </fieldset>
<!-- /ko -->