<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright © 2018 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magestore\Webpos\Api\Customer\CustomerRepositoryInterface" type="Magestore\WebposCustomerBugfix\Model\Customer\CustomerRepository"/>
    <type name="Magestore\Webpos\Model\Integration\LoyaltyRepository">
        <plugin name="MagestoreWebposCustomerBugfixAddInfoToLoyalty" type="Magestore\WebposCustomerBugfix\Plugin\Model\Integration\LoyaltyRepositoryPlugin"/>
    </type>
</config>
