<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="set_item_custom_attribute" instance="Trootech\Customchanges\Observer\SetItemCustomAttribute" />
    </event>
     <event name="sales_model_service_quote_submit_before">
        <observer name="extra_fields" instance="Trootech\Customchanges\Observer\SaveOrderObserver" />
    </event>
</config>