    <!-- ko ifnot: (element.inputName === 'city'  || element.label == 'Dirección: Line 1')-->

    <input class="admin__control-text" type="text"
        data-bind="
            event: {change: userChanges},
            value: value,
            hasFocus: focused,
            valueUpdate: valueUpdate,
            attr: {
                name: inputName,
                placeholder: label+'*',
                'aria-describedby': noticeId,
                id: uid,
                disabled: disabled
        }"/>
    <!-- /ko -->

    <!-- ko if: element.inputName === 'city' -->
    <input class="admin__control-text" type="text" placeholder="Distrito*"
    data-bind="
        event: {change: userChanges},
        value: value,
        hasFocus: focused,
        valueUpdate: valueUpdate,
        attr: {
            name: inputName,
            'aria-describedby': noticeId,
            id: uid,
            disabled: disabled
    }"/>
    <!-- /ko -->

    <!-- ko if: (element.inputName === 'street[0]') -->
    <input class="admin__control-text" type="text" placeholder="Dirección (Calle, No. Casa)*"
    data-bind="
        event: {change: userChanges},
        value: value,
        hasFocus: focused,
        valueUpdate: valueUpdate,
        attr: {
            name: inputName,
            'aria-describedby': noticeId,
            id: uid,
            disabled: disabled
    }"/>
    <!-- /ko -->


